<div flex class="eng-field eng-lookup-field">
    <label>{{label()}}</label>
    <div flex layout="row" layout-align="start center" class="eng-field-body" >

        <md-chips class="lookup-chips" flex
                  ng-model="lookupFieldValue">
            <md-chip-template ng-click="chipClick($event,$index,$chip)">

                <eng-lookup-value
                        entity-name="fieldModel.refEntityName"
                        lookup-by="lookupKey"
                        lookup-with="$chip.val"
                        lookup-field="lookupShowedProperty">
                </eng-lookup-value>

            </md-chip-template>

            <button md-chip-remove class="md-primary"
                    ng-click="chipRemove($event,$index,$chip)"
                    ng-disabled="isFieldReadonly()">
                <md-icon md-svg-icon="md-close"></md-icon>
            </button>
        </md-chips>

        <md-button ng-click="onLookupSearchClick()"
                   ng-disabled="isFieldReadonly()"
                   class="md-icon-button" >
            <md-icon ng-md-icon icon="search"></md-icon>
        </md-button>

    </div>
    <div class="hint">{{fieldModel.propertyHints}}</div>
</div>
